@model SchoolManagementSystemWebApp.VM.RegisterPaginationVM
<br />
<!-- this is for delete popup -->

<body>






    <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <p><strong>Employee Id:</strong> @Model.RegisterById.EmployeeId</p>
                <p><strong>First Name:</strong> @Model.RegisterById.FirstName</p>
                <p><strong>Last Name:</strong> @Model.RegisterById.LastName</p>
                <p><strong>Email:</strong> @Model.RegisterById.Email</p>
                <p><strong>Phone No:</strong> @Model.RegisterById.PhoneNumber</p>
                <p><strong>Gender:</strong> @Model.RegisterById.Gender</p>
               
            </div>
            <div class="col-md-6">
                <p><strong>DoB:</strong> @Model.RegisterById.DOB.ToString("yyyy-MM-dd")</p>
                <p><strong>Joining Date:</strong> @Model.RegisterById.JoiningDate.ToString("yyyy-MM-dd")</p>
                <p><strong>Category:</strong> @Model.RegisterById.Categories.CategoryName</p>
                <p><strong>Address:</strong> @Model.RegisterById.Address</p>
                <p><strong>Country:</strong> @Model.RegisterById.CountryMaster.CountryName</p>
                <p><strong>State:</strong> @Model.RegisterById.StateMaster.StateName</p>
            </div>
        </div>
    </div>





</body>
