@model SchoolManagementSystemWebApp.VM.RegisterPaginationVM
<br />
@{
    ViewData["Title"] = "Registered Users";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<head>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>


</head>
<body>


    <div class="row pb-2">
        <div class="col">
            <h1 class="text-primary">Register User</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/Home/Index">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Register</li>
                </ol>
            </nav>

        </div>
    </div>
    <div class="row pb-2">
        <div class="col">
            <div class="col d-flex justify-content-end pt-3">
                <a asp-controller="Auth" asp-action="Register" class="btn btn-primary" style="float:right;"><i class="bi bi-plus-square-fill"></i> Register</a>

            </div>
        </div>
    </div>


    <br />

    <table class="table table-bordered" id="myTable">
        <thead>
            <tr>
                <th>
                    FirstName
                </th>
                <th>
                    LasttName
                </th>
                <th>
                    Email
                </th>
                <th>
                    PhoneNumber
                </th>
                <th>
                    Gender
                </th>
                <th>
                    DOB
                </th>
                <th>
                    Address
                </th>
                <th>
                    Categrory
                </th>
                <th>
                    JoiningDate
                </th>
                <th>
                    Action
                </th>


            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Register)
            {

                <tr>

                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td>@item.Email</td>
                    <td>@item.PhoneNumber</td>
                    <td>@item.Gender</td>
                    <td>@item.DOB.ToString("yyyy-MM-dd")</td>
                    <td>@item.Address</td>
                    <td>@item.Categories.CategoryName</td>
                    <td>@item.JoiningDate.ToString("yyyy-MM-dd")</td>

                    @if (item.StatusFlag == true)
                    {
                        <td>

                            <div class="btn-group" role="group">

                                <a id="activeItem" class="activeItem" data-target="#Activebasic"
                                   data-toggle="modal"
                                   data-path="/Auth/EnableRegistration?registrationId=@item.registerId"><span id="boot-icon">Active</span></a>

                            </div>

                        </td>
                    }

                    else
                    {
                        <td>

                            <div class="btn-group" role="group">
                                <a asp-controller="Auth" asp-action="UpdateRegister" asp-route-regId="@item.registerId" asp-route-currentPageNo="@Model.CurrentPage"> <span id="boot-icon" class="bi bi-pencil-fill" style="font-size: 1.5rem; color: rgb(0, 128, 55);"></span></a>
                            </div>
                            <div class="btn-group" role="group">

                                <a id="deleteItem" class="deleteItem" data-target="#Deletebasic"
                                   data-toggle="modal"
                                   data-path="/Auth/DeleteRegister?regId=@item.registerId"><span id="boot-icon" class="bi bi-trash2-fill" style="font-size: 1.5rem; color: rgb(255, 0, 0);"></span></a>

                            </div>
                            <div class="btn-group" role="group">
                                <a asp-controller="Auth" asp-action="GetUserDetails" asp-route-id="@item.registerId" asp-route-currentPageNo="@Model.CurrentPage"><span id="boot-icon" class="bi bi-eye-fill" style="font-size: 1.5rem; color: rgb(0, 0, 128);"></span></a>
                            </div>


                        </td>
                    }
                </tr>





            }





        </tbody>
    </table>

    @*For Delete POP up*@

    @*For Active Pop-up*@
    <div class="modal fade" id="userDetailsModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        @await Html.PartialAsync("_View")

    </div>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({ "paging": false });
        });
       

    </script>









    </script>
    <nav aria-label="Page navigation example" style="float: right;margin-top: -25px;">
        <ul class="pagination">
            @if (Model.CurrentPage > 1)
            {
                <li class="page-item">

                    <a class="page-link" href="/Auth/IndexRegister?orderBy=@Model.OrderBy&currentPage=@(Model.CurrentPage-1)" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            }           
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                if (i == Model.CurrentPage)
                {
                    <li class="page-item"><a class="page-link active" href="/Auth/IndexRegister?orderBy=@Model.OrderBy&currentPage=@i"> @i</a></li>
                }
                else
                {
                    <li class="page-item"><a class="page-link" href="/Auth/IndexRegister?orderBy=@Model.OrderBy&currentPage=@i"> @i</a></li>
                }
            }
            @if (Model.CurrentPage < Model.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link" href="/Auth/IndexRegister?orderBy=@Model.OrderBy&currentPage=@Model.CurrentPage+1" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            }       
        </ul>
    </nav>




</body>


@section Scripts {

    <partial name="_deleteActivePopup" />

}

